<html>
  <head>
    <title>Form Page</title>
  </head>

  <body>
    <pre>
        -: New Employee Form :-
    </pre>
    <br />
    <form action="/insertemp" method="get">
      Emp ID :
      <input
        type="text"
        id="empid"
        value="id"
        placeholder="Enter ID"
        readonly
      />
      <br />
      Emp Name :
      <input type="text" id="empname" value="name" placeholder="Enter Name" />
      <br />
      Emp Sal :
      <input type="text" id="empsal" value="sal" placeholder="Enter Salary" />
      <br />
      <button type="submit" id="btn" value="b1" name="B1">
        Add New Employee
      </button>
    </form>
  </body>
</html>
