<html>
    <head>

    </head>

    <body>
        
        <form action="/insertemp">

            EmpID : <input type="text" id="empid" name="empid" placeholder="Enter ID">

            EmpName : <input type="text" id="ename" name="ename" placeholder="Enter Name">

            Sal : <input type="text" id="sal" name="sal" placeholder="Enter Salary">

            <button type="submit" id="BTN" name="B2" value="b2">Add Employee</button>

        </form>
    </body>
</html>