<html>
    <head>
        <title>Employee Updation</title>
    </head>

    <body>

        <form action="/updateEmp">
        EmpID : <input type="text" id="empid" name="empid" value="<%=emp.empid%>" readonly>

        EmpName : <input type="text" id="ename" name="ename" value="<%=emp.ename%>" >

        Sal : <input type="text" id="sal" name="sal" value="<%=emp.sal%>" >

        <button type="submit" id="BTN123" name="B123" value="b123">Update Employee</button>
    </form>
    </body>
</html>